<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (page.layout=='photo' && item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
  <% } %>
	<article itemprop="articleBody"> 
		<%- partial('header') %>
	<div class="article-content">
		<% if( table&&(item.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('contents') %></strong>
		<% if(item.list_number == false) {%>
		<%- toc(item.content,{list_number:false}) %>
		<% }else{ %>
			<%- toc(item.content) %>
		<% } %>
		</div>
		<% } %>
		<%- item.content %>  
	</div>
		<%- partial('footer') %>   	       
	</article>
	<%- partial('pagination') %>
	<%- partial('comment') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // 为每个代码块添加复制按钮
        document.querySelectorAll('.article-content .highlight').forEach(function(codeBlock) {
            var button = document.createElement('button');
            button.className = 'copy-button';
            button.textContent = '复制';
            button.title = '复制代码';
            button.addEventListener('click', function() {
                // 使用Clipboard.js复制代码块的内容到剪贴板
                var clipboard = new ClipboardJS(button, {
                    text: function(trigger) {
                        // 找到按钮所在的代码块
                        var codeBlock = trigger.closest('.highlight');
                        // 获取所有的<pre>元素
                        var preElements = codeBlock.querySelectorAll('pre');
                        // 返回第二个<pre>元素的innerText
                        return preElements[1].innerText;
                    }
                });
                
                clipboard.on('success', function(e) {
                    //alert('代码复制成功');
                    e.clearSelection();
                    // 显示“复制成功”
                    button.textContent = '复制成功';
                    // 5秒后恢复为“复制”
                    setTimeout(function() {
                        button.textContent = '复制';
                    }, 5000);
                });
                clipboard.on('error', function(e) {
                    //alert('代码复制失败');
                    e.clearSelection();
                    // 显示“复制成功”
                    button.textContent = '复制失败';
                    // 5秒后恢复为“复制”
                    setTimeout(function() {
                        button.textContent = '复制';
                    }, 5000);
                    });
            });
            codeBlock.insertBefore(button, codeBlock.firstChild);
            });
        });
    </script>
</div>